/* Fontes */
@font-face {
    font-family: "Poppins-Bold";
    src: url(../arquivos/fontes/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Thin";
    src: url(../arquivos/fontes/Poppins-Thin.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../arquivos/fontes/Poppins-Regular.ttf);
}

/* Estilo Geral */
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Poppins-Regular";
}

/* Estilo Header */

header {
    background: #fff;
    position: sticky;
        top: 0;
    z-index: 99;
}

header ul.navbar-nav li a {
    color: #798799;
    text-transform: uppercase;
    padding-right: 30px;
    transition: color .2s;
    font-family: "Poppins-Regular";
}

header ul.navbar-nav li a:hover {
    color: #00bac6;
}

header div form input.form-control {
    border: 1px solid #d6d6d6;
    color: #d6d6d6;
    padding: 10px 15px 10px 30px;
    border-radius: 0px;
    background: url(../arquivos/imagens/lupa.png) no-repeat right;
}

header ul.navbar-nav li a.active {
    color: #00bac6;
    border-bottom: 1px solid #00bac6;
}

/* Estilo Slider */

section#slides div.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 100%;
    max-height: 80vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #65DAF9;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300px;
    margin-bottom: 100px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.main-btn {
    background-color: #65DAF9;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators li.active {
    background-color: #65DAF9;
}

/* Estilo Qualidades */

#qualidades div.row {
    margin-top: 80px;
}

#qualidades div.col-md-12 h2 {
    text-align: center;
    color: #666666;
    font-family: "Poppins-Regular";
}

#qualidades div.col-md-12 h2 span {
    color: #000;
    text-transform: uppercase;
    font-family: "Poppins-Bold";
}

#qualidades div.col-md-12 p {
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #727a85;
    font-family: "Poppins-Thin";
}

#qualidades div.col-md-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#qualidades div.col-md-4 h4 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 20px;
    text-align: center;
    color: #798799;
}

#qualidades div.col-md-4 h4 span {
    color: #000;
    text-transform: uppercase;
    font-family: "Poppins-Bold";
}

#qualidades div.col-md-4 p {
    text-align: center;
    font-weight: bold;
    color: #929292;
    font-family: "Poppins-Thin";
    font-size: 13px;
}

#qualidades div#baixo {
    padding-top: 90px;
}

/* Estilo Imagens */

section#imagens {
    background-color: #eeeeee;
}

div#triangulo {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #eeeeee;
  width: 0;
  height: 0;
 margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

section#imagens div.container {
    padding: 50px;
}

section#imagens div.container div.col-md-4 {
    text-align: left;
    padding: 30px;
}

section#imagens div.container div.col-md-4 div {
    border: 1px solid #b2b2b2;
    transition: transform .3s ease-in-out;  
    cursor: pointer;
}

section#imagens div.container div.col-md-4 div:hover { 
    transform: scale(1.2); 
}

section#imagens div.container div.col-md-4 h5 {
    padding-top: 15px;
    padding-bottom: 0px;
    color: #717070;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
}

section#imagens div.container div.col-md-4 p {
    font-weight: bold;
    color: #929292;
    font-family: "Poppins-Thin";
    font-size: 13px;
    padding-left: 10px;
}

/* Empresas Parceiras */

section#empresas div.container {
    margin-top: 20px;
}

section#empresas div.container div {
    margin-top: auto;
    margin-bottom: auto;
}

/* Informações */

section#informacoes {
    background: url(../arquivos/imagens/background-footer.png);
    color: white;
}

section#informacoes div.container {
    padding: 40px 0 40px 0;
}

section#informacoes div.container div p{
    color: #b2b2b2;
}

section#informacoes div.container div i{
    color: #00bac6;
    padding-top: 15px;
    padding-right: 15px;
    font-size: 25px;
}

section#informacoes div.container div a{
    color: #fff;
    font-size: 13px;
}

/* Footer */

footer {
    background: url(../arquivos/imagens/background-footer2.png);
}

footer div.container {
    padding-top: 50px;
}

footer div.container div.col-md-9 h5{
    color: #b2b2b2;
    font-size: 18px;
}

footer div.container div.col-md-9 a{
    font-size: 13px;
    padding-bottom: 15px;
}

footer div.container div.col-md-3 a{
    color: #b5b5b5;
    transition: color .2s;
}

footer div.container div.col-md-3 i{
    font-size: 40px;
    padding-right: 40px;
}

footer div.container div.col-md-3 a:hover{
    color: #00bac6;
}

footer div.container p {
    color: #b2b2b2;
    font-size: 10px;
}

  
/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	#mainSLider .carousel-caption h2 {
		font-size: 1em;
	}
	
	div.carousel-caption a {
		font-size: 0.5em;
		margin-bottom: 0px;
	}
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 	
	#mainSLider div.carousel-caption h2 {
	font-size: 2em;
}

div.carousel-caption a {
	font-size: 0.8em;
	margin-bottom: 0px;
} }


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	#mainSLider div.carousel-caption h2 {
		font-size: 3em;
	}

	div.carousel-caption a {
		font-size: 1em;
		margin-bottom: 0px;
	}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 	
	#mainSLider div.carousel-caption h2 {
		font-size: 4em;
	}

	div.carousel-caption a {
		font-size: 1.2em;
		margin-bottom: 0px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }